---
import Header from "../components/Header.astro"
import Head from "../components/Head.astro"
import Footer from "../components/Footer.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <Head title="404 · Not Found?"/>
    <script type="module" src={Astro.resolve("../scripts/lottiePlayer.js")}></script> 
</head>
<body class="text-white bg-zinc-800">
    <Header/>
    <section class="py-[7vh] md:py-[10vh] px-[7.729vw] mx-auto md:max-w-[75rem] space-y-[10%] md:space-y-[8vh]">
        <div class="space-y-[1ch]">
            <p class="text-base italic font-prime text-zinc-300 md:text-center md:text-2xl">Ka-ching, It looks like you're lost...
            </p>
            <p class="text-sm text-zinc-500 md:text-center ">The page you are looking for no longer exists.</p>
        </div>
        <lottie-player src="/404-Not-Found.json"  background="transparent"  speed="1" autoplay
        class="m-auto md:max-w-prose"></lottie-player>
    </section>
    <Footer/>
</body>
</html>