---
import Card from "../components/Card.astro"
import Header from "../components/Header.astro"
import Head from "../components/Head.astro"
import ResumeCTA from "../components/ResumeCTA.astro"
import Footer from "../components/Footer.astro"

//Fetch markdown content
const projects= Astro.fetchContent<{
	title:string,
	description:string,
    cover:string,
    coverAlt: string,
    card: string,
    subtitle: string,
    tags: string[],}>('./*.md')  



---

<html lang="en" class="scroll-smooth">
<head>
	<Head title='Debashish Nabajja · UI-UX Designer'/>
	<meta property="og:title" content="Debashish Nabajja · UI-UX Designer Portfolio" />
	<meta property="og:description" content="UI-UX designer based of Mumbai." />
	<meta property="og:image" content="http://localhost:3000/android-chrome-192x192.png" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="192" />
	<meta property="og:image:height" content="192" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class="text-white bg-zinc-800">
	<div class="relative overflow-x-clip">
			<svg class="hidden md:inline absolute inset-0 -z-30 h-auto w-[100vw]" viewBox="0 0 1366 975" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M-198.5 -83.5H153.381V268.381H-198.5V-83.5ZM1213.02 -83.5H1564.91V268.381H1213.02V-83.5ZM1213.02 269.381H1564.91V621.262H1213.02V269.381ZM1213.02 622.262H1564.91V974.144H1213.02V622.262ZM1212.02 622.262V974.144H860.143V622.262H1212.02ZM859.143 622.262V974.144H507.262V622.262H859.143ZM506.262 622.262V974.144H154.381V622.262H506.262ZM153.381 622.262V974.144H-198.5V622.262H153.381ZM153.381 621.262H-198.5V269.381H153.381V621.262ZM154.381 621.262V269.381L506.262 269.381V621.262H154.381ZM507.262 621.262V269.381H859.143V621.262H507.262ZM860.143 621.262V269.381H1212.02V621.262H860.143ZM1212.02 -83.5V268.381H860.143V-83.5H1212.02ZM507.262 -83.5H859.143V268.381H507.262V-83.5ZM154.381 -83.5H506.262V268.381L154.381 268.381V-83.5Z" stroke="url(#paint0_linear_509_1079)"/>
			<defs>
			<linearGradient id="paint0_linear_509_1079" x1="683.203" y1="-84" x2="683.203" y2="974.644" gradientUnits="userSpaceOnUse">
			<stop stop-color="#404040"/>
			<stop offset="1" stop-color="#404040" stop-opacity="0"/>
			</linearGradient>
			</defs>
			</svg>
	</div>
	<div class="relative overflow-x-clip">
		<svg class="absolute inset-0 -z-20 h-auto w-[100vw] md:hidden" viewBox="0 0 414 706" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M-450.5 -83.5H-188.1V178.833H-450.5V-83.5ZM603.1 -83.5H865.5V178.833H603.1V-83.5ZM603.1 179.833H865.5V442.167H603.1V179.833ZM603.1 443.167H865.5V705.5H603.1V443.167ZM602.1 443.167V705.5H339.7V443.167H602.1ZM338.7 443.167V705.5H76.2999V443.167H338.7ZM75.2999 443.167V705.5H-187.1V443.167H75.2999ZM-188.1 443.167V705.5H-450.5V443.167H-188.1ZM-188.1 442.167H-450.5V179.833H-188.1V442.167ZM-187.1 442.167V179.833L75.2999 179.833V442.167H-187.1ZM76.2999 442.167V179.833H338.7V442.167H76.2999ZM339.7 442.167V179.833H602.1V442.167H339.7ZM602.1 -83.5V178.833H339.7V-83.5H602.1ZM76.2999 -83.5H338.7V178.833H76.2999V-83.5ZM-187.1 -83.5H75.2999V178.833L-187.1 178.833V-83.5Z" stroke="url(#paint0_linear_548_1101)"/>
		<defs>
		<linearGradient id="paint0_linear_548_1101" x1="207.5" y1="-84" x2="207.5" y2="706" gradientUnits="userSpaceOnUse">
		<stop stop-color="#404040"/>
		<stop offset="1" stop-color="#404040" stop-opacity="0"/>
		</linearGradient>
		</defs>
		</svg>
	</div>
	<Header/>
	
<main>
	<section class="font-prime container px-[7.729vw] md:mx-auto md:max-w-[75rem] md:px-6">
		<h2 class="font-light text-gray-50 text-dynamic tracking-[-0.09em] text-left leading-none pt-12 md:pt-28 md:text-center">
		UI-UX Designer
		</h2>
		<p class="pt-12 text-base font-prime text-zinc-300 md:text-center md:text-2xl md:pt-14">& an Aspiring Motion Graphics Designer</p>
		<div class="flex flex-col">
		<a href="#connect-me" class="px-5 py-4 mx-auto mt-16 text-white transition duration-300 ease-in-out bg-indigo-600 border-0 rounded shadow-lg md:mt-10 hover:shadow-2xl focus:shadow-2xl hover:bg-indigo-700 focus:bg-indigo-700 active:bg-indigo-800">
		Connect with Me
		</a>
		<ResumeCTA query="flex mx-auto mt-8 md:hidden"/>		
		</div>
	</section>

	<section class="grid grid-cols-1 place-items-center gap-16 mt-24 font-prime container px-[7.729vw] md:mx-auto md:max-w-[75rem] md:px-6 md:mt-36 md:grid-cols-2 md:gap-24">
	<div class="md:aspect-[2/1] place-self-start">
		<h2 class="text-2xl font-light tracking-tighter font-prime md:text-5xl">
		Cherry Picked
		<b class="font-medium">Projects</b>
		</h2>
		<p class="mt-2 font-sans text-sm font-normal md:text-lg md:max-w-md md:mt-4">
		An assorted palette of Projects, that conveys my Creativity & Versatility.
		</p>
		<div class="w-12 h-1 mt-3 bg-indigo-400 md:w-20"></div>
	</div>
	<!-- 5 Variables: coverImage, thumbNail, title, subTitle, link -->
	<!-- <Card title='Project 1' link="hello" description="Hello world" thumbnail="/android-chrome-256x256.png"/>
	<Card title='Project 2' link="hello" description="Hello world" thumbnail="/android-chrome-256x256.png"/>
	<Card title='Project 3' link="hello" description="Hello world" thumbnail="/android-chrome-256x256.png"/>
	<Card title='Project 4' link="hello" description="Hello world" thumbnail="/android-chrome-256x256.png"/> -->

	{projects.map((project, index) =>{
		return <Card title={project.title} thumbnail={project.card} link={project.title} />
	})} 
	</section>

	<section>
	<div class="relative overflow-x-clip">
			<svg class="hidden md:inline absolute inset-0 -z-30 h-auto w-[100vw]" width="1366" height="1059" viewBox="0 0 1366 1059" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M-198.5 0.5H153.381V352.381H-198.5V0.5ZM1213.02 0.5H1564.91V352.381H1213.02V0.5ZM1213.02 353.381H1564.91V705.262H1213.02V353.381ZM1213.02 706.262H1564.91V1058.14H1213.02V706.262ZM1212.02 706.262V1058.14H860.143V706.262H1212.02ZM859.143 706.262V1058.14H507.262V706.262H859.143ZM506.262 706.262V1058.14H154.381V706.262H506.262ZM153.381 706.262V1058.14H-198.5V706.262H153.381ZM153.381 705.262H-198.5V353.381H153.381V705.262ZM154.381 705.262V353.381L506.262 353.381V705.262H154.381ZM507.262 705.262V353.381H859.143V705.262H507.262ZM860.143 705.262V353.381H1212.02V705.262H860.143ZM1212.02 0.5V352.381H860.143V0.5H1212.02ZM507.262 0.5H859.143V352.381H507.262V0.5ZM154.381 0.5H506.262V352.381L154.381 352.381V0.5Z" stroke="url(#paint0_linear_561_1157)"/>
			<defs>
			<linearGradient id="paint0_linear_561_1157" x1="683.203" y1="0" x2="683.203" y2="1058.64" gradientUnits="userSpaceOnUse">
			<stop stop-color="#404040" stop-opacity="0"/>
			<stop offset="0.505208" stop-color="#404040"/>
			<stop offset="1" stop-color="#404040" stop-opacity="0"/>
			</linearGradient>
			</defs>
			</svg>
	</div>
	<div class="relative overflow-x-clip">
		<svg class="absolute inset-0 -z-20 h-auto w-[100vw] md:hidden" width="414" height="790" viewBox="0 0 414 790" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M-450.5 0.5H-188.1V262.833H-450.5V0.5ZM603.1 0.5H865.5V262.833H603.1V0.5ZM603.1 263.833H865.5V526.167H603.1V263.833ZM603.1 527.167H865.5V789.5H603.1V527.167ZM602.1 527.167V789.5H339.7V527.167H602.1ZM338.7 527.167V789.5H76.2999V527.167H338.7ZM75.2999 527.167V789.5H-187.1V527.167H75.2999ZM-188.1 527.167V789.5H-450.5V527.167H-188.1ZM-188.1 526.167H-450.5V263.833H-188.1V526.167ZM-187.1 526.167V263.833L75.2999 263.833V526.167H-187.1ZM76.2999 526.167V263.833H338.7V526.167H76.2999ZM339.7 526.167V263.833H602.1V526.167H339.7ZM602.1 0.5V262.833H339.7V0.5H602.1ZM76.2999 0.5H338.7V262.833H76.2999V0.5ZM-187.1 0.5H75.2999V262.833L-187.1 262.833V0.5Z" stroke="url(#paint0_linear_561_1156)"/>
		<defs>
		<linearGradient id="paint0_linear_561_1156" x1="207.5" y1="0" x2="207.5" y2="790" gradientUnits="userSpaceOnUse">
		<stop stop-color="#404040" stop-opacity="0"/>
		<stop offset="0.515625" stop-color="#404040"/>
		<stop offset="1" stop-color="#404040" stop-opacity="0"/>
		</linearGradient>
		</defs>
		</svg>
	</div>
	
	<div class="flex h-[80vh] font-prime container px-[7.729vw] md:mx-auto md:max-w-[75rem] md:px-6 md:pt-32">
		<blockquote class="relative max-w-4xl m-auto text-2xl font-medium text-center md:text-5xl md:leading-snug">
		Cooking Solutions with Colours, Typoraphy, Pricinples with a dash of Motion Graphics.
		<svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/4 w-[55vw] -z-20 " width="342" height="250" viewBox="0 0 342 250" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M72.5625 223.455H72.5631C86.6142 223.44 100.086 217.862 110.022 207.945C119.958 198.028 125.547 184.582 125.562 170.556V170.556V157.456V156.956H125.062H26.6256C19.7981 156.948 13.2527 154.238 8.42529 149.42C3.59796 144.602 0.882744 138.069 0.875 131.256V26.4574C0.882744 19.644 3.59796 13.1117 8.42529 8.29357C13.2527 3.47544 19.7979 0.765054 26.6253 0.757324H125.062C131.89 0.765054 138.435 3.47544 143.262 8.29357C148.09 13.1117 150.805 19.6442 150.812 26.4577V170.555C150.789 191.261 142.538 211.113 127.868 225.754C113.198 240.396 93.3084 248.632 72.5619 248.655C69.2135 248.655 66.0024 247.327 63.6349 244.965C61.2674 242.602 59.9375 239.397 59.9375 236.055C59.9375 232.714 61.2674 229.509 63.6349 227.146C66.0025 224.783 69.2138 223.455 72.5625 223.455ZM315.875 157.456V156.956H315.375H216.938C210.111 156.948 203.565 154.238 198.738 149.42C193.91 144.602 191.195 138.069 191.188 131.256V26.4577C191.195 19.6442 193.91 13.1117 198.738 8.29357C203.565 3.47544 210.11 0.765054 216.938 0.757324H315.375C322.202 0.765054 328.747 3.47544 333.575 8.29357C338.402 13.1117 341.117 19.6442 341.125 26.4577V170.555C341.102 191.261 332.85 211.113 318.181 225.754C303.511 240.396 283.621 248.632 262.874 248.655C259.526 248.655 256.315 247.327 253.947 244.965C251.58 242.602 250.25 239.397 250.25 236.055C250.25 232.714 251.58 229.509 253.947 227.146C256.315 224.783 259.526 223.455 262.875 223.455H262.876C276.927 223.44 290.398 217.862 300.334 207.945C310.27 198.028 315.859 184.582 315.875 170.556V170.556V157.456Z" stroke="#6366F1"/>
		</svg>
		</blockquote>
	</div>
	</section>

	<section class="font-prime container px-[7.729vw] md:mx-auto md:max-w-[75rem] md:px-6 md:pt-40">
	<div>
		<h2 class="text-2xl font-light tracking-tighter font-prime md:text-5xl">
		Abilities & 
		<b class="font-medium">Skills</b>
		</h2>
		<div class="w-12 h-1 mt-3 bg-indigo-400 md:w-20"></div>
	</div>

	<div class="flex flex-col gap-10 pt-10 md:flex md:flex-row md:gap-14">
		<div class="flex items-start gap-2 md:gap-4">
		<img class="w-24 md:w-[11vw]" src="/ui-ux-design-icon.svg" alt="">
		<div>
		<h3 class="text-2xl font-semibold md:text-4xl">UI-UX Design</h3>
		<p class="pt-2 text-sm md:text-base md:leading-loose">A Self-Taught UI-UX Designer, with learning spirit, researching & implementing to provide design solutions for various sectors.</p>
		</div>
		</div>
		<div class="flex items-start gap-2 md:gap-4">
		<img class="w-24 md:w-[11vw]" src="/motion-graphics-icon.svg" alt="">
		<div>
		<h3 class="text-2xl font-semibold md:text-4xl">Motion Graphics</h3>
		<p class="pt-2 text-sm md:text-base md:leading-loose">Inspired by cartoons & animations, learning it & implementing it in the products to enhance the overall experience.</p>
		</div>
		</div>
	</div>

	</section>
	
	<section class="pt-20 font-prime container px-[7.729vw] md:mx-auto md:max-w-[75rem] md:px-6 md:pt-40">
	<div>
		<h2 class="text-2xl font-light tracking-tighter font-prime md:text-5xl">
		Career 
		<b class="font-medium">Timeline</b>
		</h2>
		<div class="w-12 h-1 mt-3 bg-indigo-400 md:w-20"></div>
	</div>
	<div class="pt-10 md:pt-14">
		<h3 class="text-2xl font-semibold md:text-4xl">UI-UX Designer</h3>
		<p class="py-3 text-lg md:text-2xl"><b>Jun 2018 - Present</b>, Aurus IT Solutions, Mumbai - 54</p>
		<ul class="pl-6 text-sm leading-loose list-disc md:text-base">
		<li>Worked on variuous B2B & B2C products in variety of sectors such as Telemedication, E-Commerce & Retail, Hotels & Hospitality, Influencer marketing.</li>
		<li>Conceptualizing and detailed design thinking for better & innovative solutions for building easy-to-use products.</li>
		<li>Carried out Analysis & Research on User Behaviour & Competitve Analysis.</li>
		<li>Designed Motion Graphics and Animated elements for User-Interface and Marketing Purpose.</li>
		<li>Created Branding & Marketing content for Social Media and Print.</li>
		</ul>
	</div>
	<div class="pt-10 md:pt-14">
		<h3 class="text-2xl font-semibold md:text-4xl">Graphic Designer</h3>
		<p class="py-3 text-lg md:text-2xl"><b>Apr 2017 - Jun 2018</b>, Sir Mathurdas Vissanji Computer Education Centre, Mumbai - 69</p>
		<ul class="pl-6 text-sm leading-loose list-disc md:text-base">
		<li>Creating Printed & Social Media Poster for Marketing Purpose.</li>
		<li>Managing Institution schedules & cooperation with Instructors.</li>
		<li>Handling front-desk operations and finances.</li>
		</ul>
	</div>
	</section>
</main>

<Footer/>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
