<footer class="mt-24 bg-zinc-900">
		<div  class="grid pt-20 font-prime container px-[7.729vw] md:grid-cols-2 md:mx-auto md:max-w-[75rem] md:px-6 md:pt-40">
			<div class="md:aspect-[4/1]">
				<h2 class="text-2xl font-light tracking-tighter font-prime md:text-5xl" id="connect-me">
				Let's
				<b class="font-medium">Converse</b>
				</h2>
				<p class="mt-2 font-sans text-sm font-normal md:text-lg md:max-w-md md:mt-4">
				Any opportunity or a collaboration that I could work on? Please Feel free to drop them here...
				</p>
				<div class="w-12 h-1 mt-3 bg-indigo-400 md:w-20"></div>
			</div>
			<form action="#" id="contactForm" class="row-span-6 pt-10 space-y-12 md:pt-6 md:ml-6">
				<div class="relative mb-4 space-y-4">
					<label for="name" class="text-base leading-7 text-gray-50">Name</label>
					<input type="text" id="name" name="name" placeholder="Your Name Here" required class="w-full px-3 py-4 text-base leading-8 text-white transition-colors duration-200 ease-in-out border rounded outline-none bg-neutral-900 placeholder:text-neutral-500 border-neutral-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200">
				</div>
				<div class="relative mb-4 space-y-4">
					<label for="email" class="text-base leading-7 text-gray-50">Email ID</label>
					<input type="email" id="email" name="email" placeholder="Your Email Here" required class="w-full px-3 py-4 text-base leading-8 text-white transition-colors duration-200 ease-in-out border rounded outline-none bg-neutral-900 placeholder:text-neutral-500 border-neutral-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200">
				</div>
				<div class="relative mb-4 space-y-4">
					<label for="message" class="text-base leading-7 text-gray-50">Message</label>
					<textarea id="message" name="message" placeholder="Your Message Here" rows="4" required class="w-full px-3 py-4 text-base leading-8 text-white transition-colors duration-200 ease-in-out border rounded outline-none resize-y bg-neutral-900 placeholder:text-neutral-500 border-neutral-500 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"></textarea>
				</div>
				<div class="flex justify-between">
					<p class="opacity-0 place-self-center" id="status" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
					</svg>
					Thank You!</p>
					<button class="px-5 py-4 text-white transition duration-300 ease-in-out bg-indigo-600 border-0 rounded shadow-lg hover:shadow-2xl focus:shadow-2xl hover:bg-indigo-700 focus:bg-indigo-700 active:bg-indigo-800 disabled:bg-gray-400 disabled:opacity-75" id="sendBtn" >Send Message</button>
				</div>
			</form>
			<div class="mt-16 place-self-center md:place-self-start md:mt-0">
			<p class="mt-2 font-sans text-sm font-normal text-center md:text-lg md:max-w-md md:mt-4">
				Or Contact Me through my Socials,
			</p>
			<ul class="grid grid-cols-3 gap-10 pt-8 md:pt-4">
			<li>
				<a href="mailto:nabajja.debashish@gmail.com" aria-label="Email ID" target="_blank" title="nabajja.debashish@gmail.com">
				<svg class="p-3 transition duration-300 shadow-sm fill-red-500 bg-gray-50 w-14 rounded-xl hover:fill-gray-50 hover:bg-red-500 hover:shadow-xl" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.00617482 5.32292L12.5 11.0019L24.9938 5.32292C24.903 4.02484 23.8212 3 22.5 3H2.5C1.17883 3 0.0970151 4.02484 0.00617482 5.32292Z" />
				<path d="M25 8.06626L13.5345 13.2778C12.8772 13.5766 12.1228 13.5766 11.4655 13.2778L0 8.06626V19.25C0 20.6307 1.11929 21.75 2.5 21.75H22.5C23.8807 21.75 25 20.6307 25 19.25V8.06626Z"/>
				</svg>
				</a>
			</li>
			<li>
			<a href="https://dribbble.com/dnabajja" aria-label="Dribbble" target="_blank" title="dribbble.com/dnabajja">
				<svg class="p-3 transition duration-300 shadow-sm fill-pink-500 bg-gray-50 w-14 rounded-xl hover:fill-gray-50 hover:bg-pink-500 hover:shadow-xl" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.4998 1.38575e-05C15.2755 -0.00412515 17.9646 0.919045 20.1459 2.60979C20.3696 2.78313 20.3909 3.10939 20.201 3.31917L20.1794 3.34306L20.1759 3.34703C20.1642 3.36028 20.1529 3.37381 20.142 3.3876C18.6052 5.2621 16.8815 6.64956 14.7914 7.66513C14.3341 7.88733 13.7912 7.69855 13.5324 7.26093C12.225 5.05025 10.6746 2.87603 8.85798 0.6825V0.6825C8.8129 0.627537 8.83771 0.544464 8.90579 0.524021C10.0435 0.182386 11.2496 1.3564e-05 12.4998 1.38575e-05Z" />
				<path d="M7.05146 2.18696L7.05383 2.18933C8.59078 4.04759 9.92326 5.87911 11.0675 7.72542C11.4101 8.27825 11.1195 8.99691 10.4858 9.14331C7.77158 9.77036 4.53729 10.0704 0.576614 10.1623V10.1623C0.390618 10.1623 0.250379 9.99298 0.290444 9.81135C0.657617 8.14683 1.3616 6.5722 2.36185 5.18566C3.37386 3.7828 4.66423 2.60703 6.14969 1.73028C6.3569 1.60798 6.62086 1.66029 6.77316 1.84657L7.05146 2.18696Z" />
				<path d="M10.0146 13.8063C7.57721 15.2543 5.34483 17.4716 3.31253 20.563C3.28663 20.6022 3.26286 20.6435 3.24186 20.6856V20.6856C3.20901 20.7517 3.11981 20.7637 3.07132 20.708C1.26253 18.6316 0.128604 15.9526 0.0102699 13.0116C-0.000839787 12.7355 0.224164 12.5111 0.500503 12.5111L0.609356 12.5111L0.616669 12.511C5.22343 12.4058 9.02857 12.0233 12.2506 11.1173C12.6035 11.018 12.9811 11.178 13.1387 11.509C13.2033 11.6446 13.2671 11.7806 13.33 11.917C13.4204 12.1129 13.3141 12.3421 13.1088 12.4086V12.4086C12.0429 12.7506 11.0116 13.2141 10.0146 13.8063Z"/>
				<path d="M16.5258 23.9796C16.5258 24.1937 16.3898 24.385 16.1852 24.448C15.0215 24.8067 13.7826 25 12.4989 25C9.91936 25.0041 7.4081 24.2066 5.30879 22.7265C5.11212 22.5879 5.05137 22.3257 5.15866 22.1103L5.31471 21.797C7.94833 17.81 10.8014 15.6176 13.8259 14.6463V14.6463C14.1462 14.5446 14.485 14.7197 14.5969 15.0365C15.5204 17.6514 16.1508 20.3906 16.5258 23.3543V23.9796Z" />
				<path d="M22.5121 19.9842C21.5504 21.2708 20.3514 22.3585 18.982 23.19C18.9348 23.2187 18.8743 23.1851 18.8664 23.1304V23.1304C18.521 20.366 17.963 17.779 17.168 15.3042C16.967 14.6784 17.3928 14.0179 18.0501 14.0202C19.9123 14.0267 21.885 14.3606 23.9771 14.974L24.3124 15.1253C24.5295 15.2233 24.6484 15.4612 24.5875 15.6915C24.1776 17.2402 23.4737 18.6978 22.5121 19.9842Z" />
				<path d="M25.0001 12.5578C24.9993 12.6992 24.8555 12.7828 24.7199 12.7431V12.7431C21.9331 11.9182 19.2158 11.5133 16.6012 11.7246C16.1567 11.7605 15.7318 11.5198 15.547 11.1139C15.5398 11.0982 15.5326 11.0824 15.5254 11.0666C15.2884 10.548 15.5162 9.93318 16.0259 9.67759C18.2913 8.5417 20.2218 6.98977 21.9419 4.89897V4.89897C22.0767 4.74974 22.313 4.75554 22.4352 4.91516C24.114 7.10749 25.0165 9.79685 25.0001 12.5578Z" />
				</svg>
			</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/dnabajja/" aria-label="LinkedIn" title="linkedin.com/in/dnabajja" target="_blank">
					<svg class="p-3 transition duration-300 shadow-sm fill-sky-500 bg-gray-50 w-14 rounded-xl hover:fill-gray-50 hover:bg-sky-500 hover:shadow-xl"  viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M25 23.1248C25 24.1604 24.1605 24.9998 23.125 24.9998H21.8767C20.8413 24.9998 20.0019 24.1606 20.0017 23.1253L20 15.6295C20 13.6932 19.5326 12.4999 16.875 12.4999C14.179 12.4999 13.75 13.3109 13.75 15.4892L13.7517 23.1245C13.7519 24.1602 12.9124 24.9999 11.8767 24.9999H10.625C9.58949 24.9999 8.75003 24.1604 8.75003 23.1249V9.37497C8.75003 8.33944 9.58949 7.49997 10.625 7.49997H11.8671C12.8936 7.49997 13.7293 8.32538 13.7419 9.35179L13.75 9.99988C14.2472 9.14811 14.7616 8.60032 15.625 8.1253C16.4883 7.65028 17.7656 7.46329 18.75 7.49988C23.9963 7.49988 25 10.0921 25 14.5892L25 23.1248ZM6.23989 23.1148C6.24554 24.1543 5.40444 25 4.36492 25H1.875C0.839469 25 1.97846e-06 24.1605 4.36572e-06 23.125L3.60652e-05 9.37455C3.84526e-05 8.33894 0.839616 7.49945 1.87522 7.49955L4.29039 7.49979C5.32188 7.49989 6.15958 8.33313 6.16518 9.3646L6.23989 23.1148Z"/>
					<path d="M4.32047e-08 3.1255C0.000284022 4.85136 1.39966 6.25028 3.12557 6.25C3.95438 6.24981 4.74918 5.9204 5.33512 5.33424C5.92106 4.74807 6.25015 3.95316 6.25 3.12436C6.24972 1.3985 4.85034 -0.0004257 3.12443 9.71761e-08C1.39853 0.000284124 -0.00028385 1.39963 4.32047e-08 3.1255Z"/>
					</svg>
				</a>
			</li>
			</ul></div>
		</div>
		<div  class="pt-14 font-prime container px-[7.729vw] md:grid-cols-2 md:mx-auto md:max-w-[75rem] md:px-6 md:pt-20">
		<hr class="opacity-20">
		<p class="text-center pt-14 font-extralight">Proudly designed and developed by <a href="#">Me</a></p>
		<a href="https://github.com/dnabajja/portfolio-v2" title="Find the Source files on Github" aria-label="Link to Source files on Github">
			<svg class="py-8 mx-auto w-7 fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
			<path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
			</svg>
		</a>
		</div>
</footer>