---
import ResumeCTA from "./ResumeCTA.astro"
---

<header class="font-prime container px-[7.729vw] pt-16 md:mx-auto md:flex justify-between items-center md:max-w-[75rem] md:px-6 md:pt-12">
	<a href="/" class="items-center md:flex">	
	<img class="pb-2 md:pb-0" src="/header-Icon.png" alt="Debashish Nabajja's website header icon">
	<h1 class="flex flex-col text-4xl font-extrabold text-gray-50 md:inline-block md:pl-3">
	Debashish<span class="text-indigo-400">Nabajja.</span>
	</h1>
	</a>
    <ResumeCTA query="hidden md:flex"/>
</header>